server:
  port: 8081

spring:
  application:
    name: product-service

  config:
    import: optional:configserver:http://localhost:8888    # ✅ 로컬용

  kafka:
    bootstrap-servers: localhost:9094   # ✅ 로컬 Kafka

    consumer:
      group-id: product-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka    # ✅ 로컬용

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans    # ✅ 로컬 Zipkin

  endpoints:
    web:
      exposure:
        include: '*'
